<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Collectibles</title>

    <script src="/pace/pace.min.js"></script>
    <link rel="stylesheet" href="/pace/themes/orange/pace-theme-minimal.css" />
    
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <script src="/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/bootstrap-rowequalizer/bootstrap-rowequalizer.js"></script>
    <script src="/js/app.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="main">
    {{{body}}}
    </div>
  </body>
</html>
