{{> comicvine_navbar}}
<div class="main-content">
<div class="background-container">
	<div class="background" style="background-image: url('/img/comicvine.png')"></div>
</div>
<div class="container">
<div class="row" style="margin-bottom: 40px;">
	<div class="col-md-12">
		<h3 class="breadcrumb">
			<div class="dropdown dropdown-inline">
			  <a class="dropdown-toggle" type="button" data-toggle="dropdown">ComicVine
			  <span class="caret"></span></a>
			  <ul class="dropdown-menu">
			    <li><a href="/magazines" onclick="loadInplace(this);return false;">Magazines</a></li>
			    <li><a href="/comics" onclick="loadInplace(this);return false;">Comics</a></li>
			    <li><a href="/books" onclick="loadInplace(this);return false;">Books</a></li>
			    <li class="divider"></li>
			    <li><a href="/comicvine" onclick="loadInplace(this);return false;">ComicVine</a></li>
			  </ul>
			</div>
			<div style="display: inline-block;vertical-align: top;margin-left: 10px;">
				<ul class="nav nav-pills">
				  <li><a href="/comicvine/volumes" onclick="loadInplace(this);return false;">Volumes</a></li>
				  <li><a href="/comicvine/issues" onclick="loadInplace(this);return false;">Issues</a></li>
				</ul>
			</div>
		</h3>
	</div>
</div>
</div>
</div>