<div class="col-lg-8 col-lg-offset-2">
    <div class="alert alert-danger" style="margin-top: 80px; margin-bottom: 100px;">
        <h2 class="text-center">ERROR</h2>
        <h5 class="text-center">{{message}}</h5>
    </div>
</div>